<h1>Hi!</h1>

<p>Here is a new Appointment!</p>

<p>Fecha Cita: <%= @cita.fecha_cita %></p>
<p>Nombre: <%= @cita.nombre %></p>
<p>Telefono: <%= @cita.telefono %></p>
<p>Apellido: <%= @cita.apellido %></p>
<p>Descripcion: <%= @cita.descripcion %></p>
